requests~=2.28.1
numpy~=1.23.1
pandas~=1.4.3
websocket-client~=0.57.0
joblib~=1.2.0
matplotlib~=3.5.3
seaborn~=0.12.2
mpld3~=0.5.9
plotly~=5.15.0
setuptools~=58.1.0
sklearn~=0.0.post1
scikit-learn~=1.2.1
statsmodels~=0.14.0
keras~=2.10.0
python-dateutil~=2.8.2
finplot~=1.9.3
tensorflow~=2.9.1
tensorflow-gpu~=2.10.1
torch~=2.1.2+cu121
websockets~=11.0.3
PyQt5~=5.15.10